<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <!-- <link rel="stylesheet" href="service_styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='service_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="services-grid">
            <div class="service-item">
                <img src="{{ url_for('static', filename='furniture.jpeg') }}" alt="Furniture">
                <h2>Furniture</h2>
            </div>
            <div class="service-item">
                <img src="{{ url_for('static', filename='furniture.jpeg') }}" alt="Carpenter">
                <h2>Carpenter</h2>
            </div>
            <div class="service-item">
                <img src="{{ url_for('static', filename='furniture.jpeg') }}" alt="Plumber">
                <h2>Plumber</h2>
            </div>
            <div class="service-item">
                <img src="{{ url_for('static', filename='furniture.jpeg') }}" alt="Housemaid">
                <h2>Housemaid</h2>
            </div>
            <div class="service-item">
                <img src="{{ url_for('static', filename='furniture.jpeg') }}" alt="Electrician">
                <h2>Electrician</h2>
            </div>
            <div class="service-item">
                <img src="{{ url_for('static', filename='furniture.jpeg') }}" alt="AC Repair">
                <h2>AC Repair</h2>
            </div>
            <!-- Add more service items as needed -->
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
